// display the advertisement

var advert = ''

advert+='<a href="http://yh.com.tr/">';
advert+='<img class="ad" alt="SVA" src="http://haber.local/images/emekdunyasi/banner2.gif" border="0"/>';
advert+='</a>';
advert+='<p class="ads">';
advert+='</p>';

document.write(advert);