@import url("reset.css");

body {
  font-family: "Helvetica Neue", Helvetica, Corbel, Arial, sans-serif;
  font-size: 100%;
  color: #2b2b2b;
  background: #ccc url(../../images/bg.jpg) repeat;
	-webkit-font-smoothing: antialiased;
}

a, a:visited {
  color: #333;
  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

div#message {
  width: 400px;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 13px;
  font-weight: bold;
}

div.alert {
  background: #c41840;
  color: #fff;
}

div.notice {
  background: #4db8ad;
  color: #fff;
}

div#content div#login {
  border-top: 4px solid #555;
  text-align: left;
  background: #fff;
  padding: 20px;
  margin: 0 auto;
  width: 400px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
  -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
  box-shadow:0 2px 2px rgba(0,0,0,0.2);
}

div#content div#login table {
  width: 100%;
  background: #fff url(../images/login.jpg) no-repeat 10px 0;
}

div#content div#login table h2 {
  font-size: 13px;
  margin-bottom: 10px;
}

div#content div#login table p {
  font-size: 11px;
  line-height: 1.4em;
  color: #999;
  padding-left: 2px;
}

div#content div#login table th,
div#content div#login table td {
  padding: 3px;
  font-size: 13px;
}

div#content div#login table.login,
div#content div#login table.forgot-password {
  border-spacing: 5px;
  border-collapse: separate;
}

div#content div#login table.forgot-password {
  background: #fff;
}

div#content div#login table input[type=text],
div#content div#login table input[type=password] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 5px;
  font-size: 13px;
  font-weight: bold;
  color: #555;
  border: 1px solid #ccc;
}

div#content div#login table input[type=text]:focus,
div#content div#login table input[type=password]:focus {
  outline: 0;
  border: 1px solid #4db8ad;
}

div#content div#login table span a,
div#content div#login table span a:visited {
  color: #999;
  font-size: 11px;
}

div#content div#login table span a:hover {
  color: #c41840;
  text-decoration: none;
}

div#content div#login table td.label {
  text-align: right;
  vertical-align: top;
  color: #333;
  font-weight: bold;
  font-size: 11px;
}

div#content div#login table td.field {
  background: #ededed;
  width: 200px;
}